*{
    font-family: 'Tenor Sans', sans-serif;
    /* Styles for screens smaller than 768px */
  @media (max-width: 767px) {
    /* CSS styles here */
  }
  
  /* Styles for screens between 768px and 992px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* CSS styles here */
  }
  
  /* Styles for screens larger than 992px */
  @media (min-width: 992px) {
    /* CSS styles here */
  }
  
  }
  
body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: rgb(55, 81, 126);
    height: 50px;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar .logo {
    margin-right: auto;
  }
  
  .logo{
    margin: 0 46px;
    padding: 0 12px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0 46px;
    padding: 0 12px;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar li:last-child a.button {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(71, 178, 228);
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar li a:hover,
  .navbar li a:active,
  .navbar li a:focus {
    color: rgb(24, 201, 112);
  }
  .home {
    padding: 30px 20px;
    background-color: rgb(55, 81, 126);
  
  }
  
  .home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 46px;
    padding: 0 12px;
  }
  
  .text1 h1{
    font-size: 48px;
  }
  
  .text1 h2{
    font-size: 22px;
    color: #FFFFFF99;
    padding: 5px 5px;
  }
  .text1 {
    flex: 1;
    color: #fff;
  }
  
  .image {
    flex: 1;
    text-align: right;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button2 {
    display: inline-block;
    background-color: rgb(71, 178, 228);
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .video-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
  
  .video-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .video-button .button-text {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .floating{
    animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 30px;
      margin-top: 5px;
  }
   
  @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
  }
  
  .sec{
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section1 {
    padding: 120px 0;
    background-color: rgb(37,53,83);
    opacity: 90%;
    position: relative;
  }
  
  .section1-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 46px;
    padding: 0 12px;
  }
  
  .text2 {
    flex: 1;
    margin: 0 46px;
    padding: 0 12px;
  }
  .text2 h3{
    font-size: 28px;
    color: rgb(24, 201, 112);
  }
  .text2 p{
    font-size: 18px;
    text-align: left;
  }
  .signup {
    margin: 0 46px;
    padding: 0 12px;
    font-size: 16px;
  }
  
  .button3 {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(24, 201, 112);
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
  }
  
  .button3:hover {
    background-color: rgb(24, 201, 112);
    color: white;
  }
  
  .button4{
    
      display: inline-block;
      background-color: none;
      border: 2px solid rgb(24, 221, 100);
      color: rgb(24, 201, 112);
      border-radius: 5px;
      padding:10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
    .proposition{
        margin: 0 46px;
        padding: 0 12px;
      }
      
      .button4:hover{
        background-color: rgb(24, 201, 112);
        color: #fff;
      }
      
      .button4:focus {
        outline: none;
      }
      .About{
        margin: 0 46px;
        padding: 0 12px;
        align-items: center;
      }
      .About h2{
        padding-top: 2em;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #37517e;
        text-align: center;
      }
      
      .About p,li{
        font-size: 16px;
        margin-bottom: 0;
      }
      .collapsible-section {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(243,245,250);
      }
      
      .collapsible-list h3{
        font-size: 30px;
        color: #37517e;
      }
      
      .collapsible-list p{
        font-size: 16px;
      }
      
      .list-title:hover{
        color: rgb(32, 192, 112);
      }
      
      .section-content{
        margin: 0 46px;
        padding: 0 12px;
      }
      
      .image-container {
        flex: 1;
        text-align: right;
      }
      
      .image-container img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      
      .section-content {
        display: flex;
        align-items: center;
      }
      
      .collapsible-list {
        flex: 1;
        margin-right: 20px;
      }
      
      .collapsible-list {
        flex: 1;
        margin-left: 20px;
      }
      
      .collapsible-list ul {
        list-style-type: none;
        padding: 0;
      }
      
      
      .list-item {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        padding: 25px;
      }
      
      .list-title {
        color: #333;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .list-content {
        display: none;
        margin-top: 10px;
      }
      
      .list-content p {
        margin: 0;
      }